#parentDiv {
  background-color: yellow;
  position: absolute;
  top: 2em;
  left: 2em;
}

.clsDiv {
  background-color: green;
}

#targetDiv {
  background-color: red;
  position: fixed;
  top: 0px;
  left: 0px;
}

